ACTION=="add", SUBSYSTEM=="leds", KERNEL=="blue", RUN+="/bin/chmod a+w /sys/class/leds/%k/brightness"
ACTION=="add", SUBSYSTEM=="leds", KERNEL=="red", RUN+="/bin/chmod a+w /sys/class/leds/%k/brightness"
ACTION=="add", SUBSYSTEM=="leds", KERNEL=="green", RUN+="/bin/chmod a+w /sys/class/leds/%k/brightness"
